<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="left">
		<h2 class="leftH2">
			<span>画面サンプル</span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_02_01"><a onclick="transitionTo('/practice1/readdatabase');">Data検索</a></li>
				<li class="menu_02_02"><a onclick="transitionTo('/practice2/registcsv');">CSV取込</a></li>
				<li class="menu_02_03"><a onclick="transitionTo('/practice3/calculateinvoice');">請求書計算</a></li>
				<li class="menu_02_01"><a onclick="transitionTo('/salarydetaillist/SalaryDetailListScreen');">給料一覧(Video用)</a></li>
<!-- 				<li class="menu_02_04"><a onclick="transitionTo('/pdf/createpdf');">PDF（HTML版）</a></li> -->
			</ul>
		</nav>
		
		<h2 class="leftH2">
			<span>社内システム</span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_01_01"><a onclick="transitionTo('/employee/cmsemployeelist');">社員</a></li>
				<li class="menu_01_02"><a onclick="transitionTo('/cost/cmscostlist');">費用</a></li>
				<li class="menu_01_04"><a onclick="transitionTo('/workhour/cmsworkhourlist');">勤怠一覧</a></li>
				<li class="menu_01_03"><a onclick="transitionTo('/salary/cmssalarylist');">給料明細</a></li>
			</ul>
		</nav>

		<h2 class="leftH2">
			<span class="span1"></span>画面宿題<span></span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_03_01"><a onclick="transitionTo('/marketstore/marketstore');">販売店(増削改査)</a></li>
				<li class="menu_03_02"><a onclick="transitionTo('/csvfetch/csvfetch');">売上Csv取込</a></li>
				<li class="menu_03_03"><a onclick="transitionTo('/benefitcalculation/benefitcalculation');">利益計算</a></li>
				<li class="menu_03_04"><a onclick="transitionTo('/mysalarydetaillist/mySalaryDetailListScreen');">給料一覧(練習)</a></li>
			</ul>
		</nav>
		
		<h2 class="leftH2">
			<span>JS練習</span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_01_01"><a onclick="transitionTo('/javascript/JSPractice');">JSサンプル</a></li>
				<li class="menu_01_02"><a onclick="transitionTo('/popup/popup');">JS練習</a></li>
			</ul>
		</nav>
		<h2 class="leftH2">
			<span>Vue練習</span>
		</h2>
		<nav>
			<ul class="list">
				<li class="menu_03_04"><a onclick="transitionTo('/vuesample/vueSample');">Vueサンプル</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>